accelerate
aiohttp
aiosignal
antlr4-python3-runtime
appdirs
attrs
audioread
av
certifi
cffi
charset-normalizer
cloudpickle
colorama
coloredlogs
contourpy
ctranslate2
cycler
datasets
decorator
DeepFilterLib
DeepFilterNet
demucs
dill
dora_search
einops
faster-whisper
ffmpeg-python
filelock
flatbuffers
fonttools
frozenlist
fsspec
future
huggingface-hub
humanfriendly
idna
Jinja2
joblib
julius
kiwisolver
lameenc
lazy_loader
librosa
llvmlite
loguru
MarkupSafe
matplotlib
more-itertools
mpmath
msgpack
multidict
multiprocess
networkx
noisereduce
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
onnxruntime
openai-whisper
openunmix
optimum
packaging
pandas
pillow
platformdirs
pooch
protobuf
psutil
pyarrow
pyarrow-hotfix
PyAudio
pycparser
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pytz
PyYAML
regex
requests
retrying
safetensors
scikit-learn
scipy
sentencepiece
setuptools
six
sounddevice
soundfile
soxr
stable-ts
submitit
sympy
threadpoolctl
tiktoken
tokenizers
torch
torchaudio
tqdm
transformers
treetable
triton
typing_extensions
tzdata
urllib3
websocket-client
websockets
whisper-live
xxhash
yarl